<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PetcoAutomationSuite">
  <test thread-count="5" name="PetcoAutomation">
    <classes>
      <class name="com.petco.scripts.PetcoTestNG"/>
    </classes>
  </test> <!-- PetcoAutomation -->
</suite> <!-- PetcoAutomationSuite -->
